<section class="flex-1 flex flex-col lg:p-5">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-2 mb-4">
    <div class="flex justify-between items-center md:hidden">
      <h3 class="text-[var(--text-white)] text-lg">All Product</h3>

      <div class="relative w-[65%]">
        <span class="absolute left-3 top-1/2 -translate-y-1/2 text-[var(--text-gray)]">
          <img src="assets/icons/search-normal.svg" alt="search" class="w-5 h-5" />
        </span>
        <input
          type="text"
          placeholder="Search by name"
          class="bg-[var(--bg-black)] text-[var(--text-gray)] rounded px-4 py-2 w-full pl-10 focus:outline-none focus:ring-2 focus:ring-[var(--primary)]"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchTermChange()"
        />
      </div>
    </div>

    <!-- Desktop layout -->
    <div class="hidden md:flex md:items-center md:justify-between w-full">
      <h3 class="text-[var(--text-white)] text-lg">All Product</h3>
      <div class="relative w-64">
        <span class="absolute left-3 top-1/2 -translate-y-1/2 text-[var(--text-gray)]">
          <img src="assets/icons/search-normal.svg" alt="search" class="w-5 h-5" />
        </span>
        <input
          type="text"
          placeholder="Search by name"
          class="bg-[var(--bg-black)] text-[var(--text-gray)] rounded px-4 py-2 w-full pl-10 focus:outline-none focus:ring-2 focus:ring-[var(--primary)]"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchTermChange()"
        />
      </div>
    </div>
  </div>
</section>
