<div class="flex items-center mb-6">
  <div class="flex items-center">
    <img src="assets/images/logo.png" alt="Logo" class="h-12 w-auto mr-2" />
  </div>
</div>

<section
  class="relative flex flex-col-reverse md:flex-row items-center bg-[var(--bg-black)]/80 backdrop-blur-md rounded-xl p-6 md:p-8 gap-6 md:h-[20vh]"
>
  <div class="w-full md:w-2/3 flex flex-col gap-2">
    <h2
      class="text-h2 bg-gradient-to-r from-[var(--primary)] to-[var(--primary-light)] bg-clip-text text-transparent"
    >
      NEW COLLECTION !
    </h2>
    <h1 class="text-h1 text-[var(--text-white)]">
      SNEAKER <span class="text-[var(--primary-light)]">GANG</span>
    </h1>
    <p class="text-b3 text-[var(--text-white)]">
      Sport keeps us fit. Keeps you mindful. Brings us together. Through sport we have the power to
      change lives. Whether it is through stories of inspiring athletes
    </p>
    <button
      class="mt-4 w-max bg-[var(--primary)] hover:bg-[var(--primary-dark)] text-[var(--text-white)] px-4 py-2 rounded transition"
      style="background: var(--primary-gradient)"
      (click)="openModal()"
    >
      + Add New Product
    </button>
  </div>
  <div class="w-full md:w-1/3">
    <img
      src="assets/images/shoes.png"
      alt="Sneaker"
      class="w-40 md:w-56 lg:w-64 drop-shadow-xl absolute -top-20 -right-0 z-10"
    />
  </div>
</section>

<app-add-product-modal
  *ngIf="showModal"
  (closeModal)="closeModal()"
  (createProduct)="onCreateProduct($event)"
></app-add-product-modal>
