/* You can add global styles to this file, and also import other style files */

@use 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Font Family
  --font-sans: 'Kanit', sans-serif;

  // Font Sizes
  --font-size-h1: 36px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --font-size-h4: 16px;
  --font-size-b1: 20px;
  --font-size-b2: 16px;
  --font-size-b3: 14px;

  // Font Weights
  --font-weight-bold: 550;
  --font-weight-regular: 400;
  --font-weight-light: 0;

  // Line Heights
  --line-height-default: 1.2;

  // Primary Colors
  --primary: #fd5351;
  --primary-light: #ffc7a0;
  --primary-dark: #e55250;
  --primary-gradient: linear-gradient(102deg, #e55250 35.35%, #ffc7a0 124.4%);

  // Secondary Colors
  --secondary: #ffc7a0;
  --secondary-dark: #c9ac83;

  // Text Colors
  --text-gray: #868686;
  --text-gray2: #929292;
  --text-light: #f5efe2;
  --text-white: #ffffff;

  // Basic Colors
  --bg-black: #151514;
  --black: #212121;
  --white: #ffffff;
}

// Typography Classes
.text-h1 {
  font-family: var(--font-sans);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-default);
}

.text-h2 {
  font-family: var(--font-sans);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-default);
}

.text-h3 {
  font-family: var(--font-sans);
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-default);
}

.text-h4 {
  font-family: var(--font-sans);
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-default);
}

.text-b1 {
  font-family: var(--font-sans);
  font-size: var(--font-size-b1);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-default);
}

.text-b2 {
  font-family: var(--font-sans);
  font-size: var(--font-size-b2);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-default);
}

.text-b3 {
  font-family: var(--font-sans);
  font-size: var(--font-size-b3);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-default);
}
